.body{
    background-color: black;
}
.header{
    background-color: black;

}
.textlog {
    color: mediumpurple;
    float: right;
    font-family: "Comic Sans MS";
    font-size: 270%;
}

.block{
    color: black;
    float: right;
    width: 40%;
}

.name{
    background-color: black;

}
.textname{
    color: mediumseagreen;

}
.recom{
    color: lightgreen;
    float: right;
    width: 30%;
    font-family: cursive;
    font-size: x-large;

}
.infotext{
    color: lightgreen;
    float: left;
    width: 30%;
    font-family: cursive;
    font-size: large;


}
